/* Name,  */
body {
    color: azure;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(assets/backround.avif);
    background-repeat: no-repeat;
    background-size: fill;
}

    table, th, td {
        border: 2px solid;
      }

      .container {
        padding-left: 34%;
       margin: 0 auto;
      }